<div class="box">
  <h3>Login</h3>
  <form id="login-form">
    <input id="email" name="email" type="email" placeholder="Email" required />
    <input
      id="password"
      name="password"
      type="password"
      placeholder="Password"
      required
    />
    <button id="button-login" class="button">Iniciar sesión</button>
  </form>
  <p>¿No tienes cuenta? <a href="/register">Regístrate</a></p>
</div>
<script src="/js/auth.js"></script>